<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maskinporten-Test</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div class="container authenticated">
    <form action="/logout">
        <div>
            <button type="submit" class="btn btn-primary">Logout</button>
        </div>
    </form>
</div>
<br>
<br>
<div style="display: table; margin: 0 auto; width: 25%">
    <form action="javascript:getToken(scopes)">
        <label><b>Scope:</b>
            <select id="scopes" name="scopes" required>
                <!--TODO: Multiple select-->
                <option th:each="scope : ${ascopes}"
                        th:value="${scope}"
                        th:text="${scope}">
                </option>
            </select>
            <input type="submit" value="Generate token">
            <script>
                function getToken(scopes) {
                    let url = "/token?scopes=";
                    for (let i = 0; i < scopes.selectedOptions.length; i++) {
                        let value = scopes.selectedOptions[i];
                        url = url + value.value;
                        if (i + 1 < scopes.selectedOptions.length) {
                            url = url + ","
                        }
                    }
                    $.get(url,
                        function (response) {
                            let pre = document.getElementById('token');
                            pre.innerHTML = response;
                            pre.hidden = false;
                            let copybutton = document.getElementById('copybutton')
                            copybutton.hidden = false;
                        }
                    )
                }
                function copyToClipboard() {
                    let text = document.getElementById('token');
                    text.select();
                    navigator.clipboard.writeText(text.innerHTML);
                }
            </script>
        </label>
    </form>
    <pre id="token" hidden
         style="background-color: lightgray;
                border-style: inset;
                white-space: pre-wrap;
                word-break: break-all">
    </pre>
    <button id="copybutton" hidden onclick="copyToClipboard()" style="background-color: lightblue">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="none" viewBox="0 0 24 24" focusable="false" role="img">
            <path fill="currentColor" fill-rule="evenodd" d="M8.25 3A.75.75 0 0 1 9 2.25h6a.75.75 0 0 1 .75.75v1.25H18a.75.75 0 0 1 .75.75v16a.75.75 0 0 1-.75.75H6a.75.75 0 0 1-.75-.75V5A.75.75 0 0 1 6 4.25h2.25zm7.5 3a.75.75 0 0 1-.75.75H9A.75.75 0 0 1 8.25 6v-.25h-1.5v14.5h10.5V5.75h-1.5zm-1.5-.75h-4.5v-1.5h4.5zm-5.25 5a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5zm0 3a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5zM8.25 17a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75"
                  clip-rule="evenodd"></path>
        </svg>
        Copy
    </button>
</div>
</body>
</html>
